*{
box-sizing: border-box;
padding: 0;
margin:0;
}

html,body{
font-family: 'Roboto', sans-serif;
width:100%;
height:100%;
color: #585858;
}

p{
padding: 5px 0;
}

.wrapper{
display: flex;
flex-direction: row;
height:100%;
position: relative;
}

.main-info{
width:50%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
position: relative;

}

.statistics{
width:100%;
display: flex;
position: absolute;
top:0;
padding:25px;

  .player-name{
  font-size: 18px;
  width:50%;
  
    &::before{
    content: '\f2c0';
    font-family: FontAwesome;
    font-size: 24px;
    padding-right: 10px;
    }
  }

  .health{
  font-size: 18px;
  width:50%;
  text-align: right;
    &::before{
    content: '\f08a';
    font-family: FontAwesome;
    font-size: 26px;
    padding-right: 10px;
    vertical-align: middle;
    }
  }
}

.keys{
max-width: 170px;
width:100%;
font-family: 'Helvetica';

  .key{
  width:50px;
  height:50px;
  border:1px solid #585858;
  position: relative;
  border-radius:5px;
  transition: all 250ms ease;
    &::before{
    content: '';
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: #585858;
    font-size: 15px;
    }
  }

  .w{
  margin: 0 auto;
    &::before{
    content: 'W';
    }
  }

  .keys-row{
  display: flex;
  flex-direction: row;

    .a{
    margin-top: 10px;
      &::before{
      content: 'A';
      }
    }

    .s{
    margin: 10px 10px 0;
      &::before{
      content: 'S';
      }
    }

    .d{
    margin-top: 10px;
      &::before{
      content: 'D';
      }
    }
  }
}


.messages{
width:50%;
display: flex;
flex-direction: column;
justify-content: flex-end;

  .btn-sound{
  margin-right: 25px;
  margin-top: 15px;
  width:30px;
  position: relative;
  align-self: flex-end;
  cursor: pointer;
  color: #585858;
  }
  
  .btn-sound::before{
  content: '\f028';
  font-family: FontAwesome;
  font-size: 30px;
  }

  .active-logs{
  position: relative;
  height:100%;
  overflow: hidden;

    .log-animate{
    text-align: center;
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    width:100%;
    opacity:0;
    visibility: hidden;
    font-size:32px;
    transform: scale(1);
    transition: all 0.5s ease;
    }
  }

  .chat-log{
    .chat-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 8px;
    
      .numbers-logs{
      margin-right: 20px;
      }
    }

    .logs{
    border: 1px solid #585858;
    overflow-x: hidden;
    height:200px;

      p{
      padding:10px;
      }

      p:nth-child(2n+2){
      background: rgba(0,0,0,0.05);
      }
    }
  }
}

////Active class
.key-active{
transform: scale(1.1);
}

.active{
opacity:1 !important;
visibility: visible !important;
transform: scale(1.3) !important;
}

.off{}


.off::after{
content: '';
position: absolute;
top: 50%;
left: 50%;
width: 40px;
height: 2px;
background: #585858;
transform: translate(-50%, -50%) rotate(133deg);
color: #585858;
}